<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	$(document).ready(function() {
		/* 회원가입 버튼 클릭 시 회원가입 페이지로 연결 */		
		$("#btn_signOut").bind({
			"click":	function() {
				if(!$("input[name='user_id']").val()) {
					$("#consoleInfo").html("아이디를 입력하세요.");
					$("input[name='user_id']").focus();
					return false;
				} else if(!$("input[name='user_pw']").val()) {
					$("#consoleInfo").html("비밀번호를 입력하세요");
					$("input[name='user_pw']").focus();
					return false;
				} else {
					/*
					*	!!!추가작업 필요!!!
					*	입력받은 id, pw를 회원 db와 비교 하여 일치하지 않으면 불일치 내용을 띄우고 재입력 요청
					*
					*/
					if(false) {
						$("#consoleInfo").html("입력정보와 일치하는 회원이 없습니다.");
						$("input[name='user_id']").val("");
						$("input[name='user_pw']").val("");
						$("input[name='user_id']").focus();
						return false;
					}
					$("#consoleInfo").html("&nbsp");
					$("#section01").load($("#btn_signOut a").attr("href"));
					return false;
				}	
			},
			"mouseleave":function() {
				$("#btn_signOut a").css("color","white");
				$("#btn_signOut a").css("text-shadow","none");
				$("#consoleInfo").html("&nbsp");},
			"mouseenter":function() {
				$("#btn_signOut a").css("color","yellow");
				$("#btn_signOut a").css("text-shadow","0px 2px 2px black");
				$("#consoleInfo").html("정말 회원 탈퇴를 하시겠습니까?");}
		});
	});
</script>
</head>
<body>
	<div id="view_signOut">
		<form name="form_signOut" action="" method="post">
			<div id="catch_PR">
				회원탈퇴 실시에 대한 주의사항
			</div>
			<div id="user_id">
				<input name="user_id" type="text" placeholder="&nbsp;아이디" required autofocus>
			</div>
			<div id="user_pw">
				<input name="user_pw" type="password" placeholder="&nbsp비밀번호">
			</div>	
			<div id="btn_signOut">
				<a href="./view/viewSales/viewSales.html">탈퇴</a>
			</div>		
		</form>
	</div>
</body>
</html>