@CHARSET "UTF-8";
a,ul,li{
	margin:0;
	padding:0;
}
#main_header {
	border: 1px solid red;
	height:200px;
}
.navi{
	height: 100px;
	background: #000;
}
.navi ul li {
	display: inline-block;
	width: 150px;
	vertical-align: top;
	text-align: center;
}
.navi a:link, .navi a:visited {
	width: 150px;
	color: #fff;
	text-decoration: none;
}
.navi a:hover, .navi a:focus {
	text-shadow: 0px 2px 2px #000;
	color: #fc0;
}
.navi a:active {
	color: red;
}
.menuName{
	width: 150px;
	color: #fff;
}
.menuName:hover, .menuName:focus{
	text-shadow: 0px 2px 2px #000;
	color: #fc0;
}
.sub_menu{
	display: inline-block;
	width: 150px;
	text-align: center;
}
#title a:link, #title a:visited{
	color: #000;
	text-decoration: none;
}
#main_section {
	border: 1px solid green;
	height: 400px;
}

#main_footer{
	border: 1px solid blue;
	background-color: #566573;
	height:100px;
}
#innerFrame{
	border:1px solid yellow;
	height: 400px;
}

#signIn{
	border: 1px solid red;
	background-color: #A9DFBF;
	height: 400px;
}
#notice{
	border: 1px solid red;
	color: #FDFEFE;
}
#result{
	border: 1px solid red;
	color: #FDFEFE;
}
#site_info{
	border: 1px solid red;
	color: #FDFEFE;
	font-size: small;
}
#bms_logo{
	float: left;
	margin-right: 10px;
}