<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1">
<title>BMS_web</title>
<link href="../style/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<script type="text/javascript" src="../JS/scripts.js"></script>
	<header>

		<div class="ctn_logo">
			<a href="main.html"><img class="img_logo" src="" alt="img_logo"></a>
		</div>

		<nav>
			<ul>
				<li><a href="category.html">분류</a></li>
				<li><a href="search.html">검색</a></li>
				<li><a href="join.html">회원가입</a></li>
				<li><a href="login.html">회원로그인</a></li>
				<li><a href="">장바구니</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<article class="atc_main">
			<!-- 
				1.이벤트상품 목록
				표시정보list
					1.책 제목
					2.책 이미지
					3.책 가격
			 -->
			<hr>
			<p>이벤트 상품</p>
			<hr>
			<div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <hr>
			 <p>추천 도서</p>
			 <hr>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <div class="event_item">
			 	<table>
			 		<tr><td>
			 		<img class="img_bookCover" src="" alt="book_cover">
			 		</td></tr>
			 		<tr><td>headfirst java</td></tr>
			 		<tr><td>정가: 35,000원<td></tr>
			 	</table>
			 </div>
			 <hr>

			 
		</article>
		<article class="atc_side">
			<!-- 
				1.장바구니 상품 목록
				2.장바구니 상품 구매 버튼
				3.장바구니 상품 빼기 버튼
				4.장바구니 비우기 버튼
			 -->
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
			 <p>장바구니 상품 목록입니다.</p>
		</article>
	</section>
	<footer>
		<!-- 
			1.주소
			2.연락처
			3.권리
		 -->

		 <p>주소  | 연락처  | 권리</p>
		 <p>주소  | 연락처  | 권리</p>
	</footer>

</body>
</html>